<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>News</title>

    <!-- Bootstrap core CSS -->
       <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
  min-height: 75rem;
  padding-top: 4.5rem;
        background-image: url("../static/images/p1.png");
        background-color: #333333;
}

    </style>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{{ url_for('static', filename='CSS/blog.css') }}" rel="stylesheet">

      <style>
          body{
              color: whitesmoke;
          }
      </style>
  </head>
  <body>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Pokemon Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pokedex') }}">Pokedex</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('upload_file') }}">Recognizer</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_us') }}">About</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('references') }}">Reference</a>
      </li>

    </ul>

  </div>
</nav>

    <main role="main" class="container">
  <div class="row card-background" >
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
       News
      </h3>

      <div class="blog-post card-background">
        <h2 class="blog-post-title">Uxie, Mesprit, and Azelf Return to Pokémon GO Raid Battles</h2>
        <p class="blog-post-meta">November 14, 2020
        </p>
        <hr>
          <p>Take on five-star raids for a chance to catch one of these Legendary Pokémon.</p>
          <p>The Legendary Pokémon Uxie, Mesprit, and Azelf are returning to Pokémon GO in five-star Raid Battles. This charming trio will be appearing from Tuesday, November 24, 2020, at 1:00 p.m. to Monday, November 30, 2020, at 1:00 p.m. PST, but the Pokémon you encounter will change depended on your location.

          </p>
          <ul>
              <li>
                  Trainers in the Asia-Pacific region may encounter Uxie
              </li>
              <li>Trainers in Europe, the Middle East, Africa, and India may encounter Mesprit</li>
              <li>
                  Trainers in the Americas and Greenland may encounter Azelf
              </li>
          </ul>
<p>These Pokémon have not appeared very often, so don't miss out on your chance to add them to your team. Be sure to read our strategy article for tips on catching Uxie, Mesprit, and Azelf. Have fun and good luck, Trainers!</p>

      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->




</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>



  </body>
</html>
