<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>pokemon -HOME PAGE</title>

    <!-- Bootstrap core CSS -->
       <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
  min-height: 75rem;
  padding-top: 4.5rem;
        background-image: url("../static/images/p1.png");
        background-color: #333333;
}

    </style>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{{ url_for('static', filename='CSS/blog.css') }}" rel="stylesheet">

      <style>
          body{
              color: whitesmoke;
          }
      </style>
  </head>
  <body>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Pokemon Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pokedex') }}">Pokedex</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('upload_file') }}">Recognizer</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_us') }}">About</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{{ url_for('references') }}">Reference</a>
      </li>

    </ul>

  </div>
</nav>

    <main role="main" class="container">
  <div class="row card-background" >
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
       News
      </h3>

      <div class="blog-post card-background">
        <h2 class="blog-post-title"> Meltan, Shiny Slowpoke, and More in Pokémon GO’s Pokémon HOME Event</h2>
        <p class="blog-post-meta">November 16, 2020 by
<!--          <a href="#">Mark</a>-->
        </p>
        <hr>
        <p>From November 17–23, celebrate the integration of Pokémon HOME with Pokémon GO.</p>
          <p>Trainers can now link their Pokémon GO and Pokémon HOME accounts! To commemorate the occasion, there will be an event in Pokémon GO featuring an assortment of exciting Pokémon and Research. From Tuesday, November 17, 2020 at 8:00 a.m. to Monday, November 23, 2020 at 10:00 p.m. PST, certain Pokémon will be appearing more frequently in the wild, hatching from Eggs, and featured as Raid Bosses. Here's a list of Pokémon that will be appearing during the event.

Alolan Sandshrew, Alolan Diglett, Slowpoke, Magnemite, Ditto, Porygon, Hoothoot, Remoraid, Whismur, Lileep, Anorith, Absol, Cottonee, Tirtouga, and Archen will all be appearing more frequently in the wild.

Alolan Sandshrew, Nidoran (female), Nidoran (male), Alolan Diglett, Slowpoke, Lileep, and Anorith will all be hatching from 5 km Eggs.

Alolan Vulpix, Slowpoke, Magnemite, Shinx, Timburr, Klink, and more will be featured in raids.

            Lucky Trainers may even encounter a Shiny Slowpoke!</p>

<p>Themed Timed Research and Field Research will also be available. Timed Research rewards during this event will include Pidgeot Mega Energy, Poké Balls, Berries, Slowpoke and Gible encounters, and more. Completing Field Research may lead to encounters with Slowpoke, Ditto, and more. Most notably, Trainers who transfer a Pokémon from Pokémon GO to the mobile device version of Pokémon HOME can activate the Mystery Box in Pokémon GO for an opportunity to encounter the Mythical Pokémon Meltan! Lucky Trainers may even encounter a Shiny one.

From Monday, November 16, 2020, at 10:00 a.m. to Tuesday, November 24, 2020, at 1:00 p.m. PST, Cobalion, Terrakion, and Virizion will be appearing in five-star raids. These Legendary Pokémon from the Unova region would be powerful additions to any team, so Trainers should prepare their strongest Pokémon ahead of their arrival!

Happy Pokémon HOME Event!

      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->




</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>



  </body>
</html>
